.app-parent-div {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(-45deg, white, rgb(177, 75, 177), rgb(255, 202, 104), rgb(238, 238, 163));
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}