@import '../../../styles.scss';

.form-and-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

    .form-div {
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        // border: $grey solid 0.2em;
        border-radius: 0.5em;
        padding: 2em;
        width: 70vw;
        

        .label-input-container {
            max-width: 20em;
            width: 7em;

            .label-icon-container {
                display: flex;
                flex-direction: row;
    
                .valid {
                    color: $green;
                    border-color: $green;
                }
                
                .invalid {
                    color: $red;
                    border-color: $red;
                }

                label {
                    font-weight: bold;
                    margin-right: 0.5em;
                }
            }

            select, input {
                height: 2em;
                width: 65vw;
                max-width: 40em;
            }

            .error-message-container {
                height: 2.3em;
                color: $red;
                font-size: 0.8em;
                width: 20em;
            }
        }

        .submit-button {
            width: 5em;
        }
    }
}
