@import '../../../styles.scss';

.form-and-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

    .form-div {
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        border-radius: 0.5em;
        padding: 2em;
        width: 70vw;

        @media (min-width: 768px) {
            width: 70vw;
        }
        
        @media (max-width: 768px) {
            width: 90vw;
        }
        
        max-width: 50em;

        .label-input-container {
            width: 100%;

            label {
                font-weight: bold;
                margin-right: 0.5em;
            }

            select, input {
                height: 2em;
                width: 100%;
            }

            select {
                padding: 0.375rem 0.75rem;
                color: #212529;
                border: 1px solid #ced4da;
                border-radius: 0.375rem;
            }

            .error-message-container {
                height: 2.3em;
                color: $red;
                font-size: 0.8em;
                width: 30em;
            }
        }
    }
}

.fc-custom-padding {
    padding: 0.375rem 1.5rem !important;
}

.green-border {
    border-color: $green !important;
    border: solid 0.12em;
}

.red-border {
    border-color: $red !important;
    border: solid 0.12em;
}

.valid {
    color: $green;
}

.invalid {
    color: $red;
}

fa-icon {
    position: fixed;
    margin-top: 0.25em;
    margin-left: 0.3em;
}