<div class="form-and-button-container">
    <div [formGroup]="profileForm" class="form-div form-group">
        <div class="label-input-container">
            <div class="label-icon-container">
                <label class="form-label" for="fullName">Full Name</label>
                <fa-icon class="valid" *ngIf="!invalidFullNameText && submitClicked" icon="check"></fa-icon>
                <fa-icon class="invalid" *ngIf="!!invalidFullNameText" icon="exclamation-circle"></fa-icon>
            </div>
            <input [ngClass]="{ 
                'invalid': !!invalidFullNameText,
                'valid': !invalidFullNameText && submitClicked
            }" placeholder="Full name" class="form-control" id="fullName" type="text" formControlName="fullName">
            <div class="error-message-container">
                <span *ngIf="invalidFullNameText">{{ invalidFullNameText }}</span>
            </div>
        </div>
      
        <div class="label-input-container">
            <div class="label-icon-container">
                <label class="form-label" for="email">Email</label>
                <fa-icon class="valid" *ngIf="!invalidEmailText && submitClicked" icon="check"></fa-icon>
                <fa-icon class="invalid" *ngIf="!!invalidEmailText" icon="exclamation-circle"></fa-icon>
            </div>
            <input [ngClass]="{
                'invalid': !!invalidEmailText,
                'valid': !invalidEmailText && submitClicked
            }" placeholder="Email" class="form-control" id="email" type="text" formControlName="email">
            <div class="error-message-container">
                <span *ngIf="invalidEmailText">{{ invalidEmailText }}</span>
            </div>
        </div>
      
        <div class="label-input-container">
            <div class="label-icon-container">
                <label class="form-label" for="password">Password</label>
                <fa-icon class="valid" *ngIf="!invalidPasswordText && submitClicked" icon="check"></fa-icon>
                <fa-icon class="invalid" *ngIf="!!invalidPasswordText" icon="exclamation-circle"></fa-icon>
            </div>
            <div class="input-and-icon">
                <input [ngClass]="{
                    'invalid': !!invalidPasswordText,
                    'valid': !invalidPasswordText && submitClicked
                }" placeholder="Password" class="form-control" id="password" type="text" formControlName="password">
            </div>
            <div class="error-message-container">
                <span *ngIf="invalidPasswordText">{{ invalidPasswordText }}</span>
            </div>
        </div>
    
        <div class="label-input-container">
            <div class="label-icon-container">
                <label class="form-label" for="occupation">Occupation</label>
                <fa-icon class="valid" *ngIf="!occupationIsInvalid && submitClicked" icon="check"></fa-icon>
                <fa-icon class="invalid" *ngIf="occupationIsInvalid && submitClicked" icon="exclamation-circle"></fa-icon>
            </div>
            <select class="pointer" [ngClass]="{ 'invalid': occupationIsInvalid }" placeholder="Select an occupation" id="occupation" formControlName="occupation">
                <ng-container *ngFor="let occupation of occupations">
                    <option [value]="occupation">{{ occupation }}</option>
                </ng-container>
            </select>
            <div class="error-message-container">
                <span *ngIf="occupationIsInvalid && submitClicked">An occupation must be selected</span>
            </div>
        </div>
      
        <div class="label-input-container">
            <div class="label-icon-container">
                <label class="form-label" for="state">State</label>
                <fa-icon class="valid" *ngIf="!stateIsInvalid && submitClicked" icon="check"></fa-icon>
                <fa-icon class="invalid" *ngIf="stateIsInvalid && submitClicked" icon="exclamation-circle"></fa-icon>
            </div>
            <select class="pointer" [ngClass]="{ 'invalid': stateIsInvalid }" placeholder="Select a state" id="state" formControlName="state">
                <ng-container *ngFor="let state of states">
                    <option [value]="state.abbreviation">{{ state.name }}</option>
                </ng-container>
            </select>
            <div class="error-message-container">
                <span *ngIf="stateIsInvalid && submitClicked">A state must be selected</span>
            </div>
        </div>
        <button class="btn btn-primary submit-button purple-button" (click)="onSubmit()" type="submit">Submit</button>
    </div>
</div>
